.client-card {
  width: 100vw;
  padding: 0 2.5rem;
  &-avatar {
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    margin: 2rem 0;
  }
  &-description {
    color: $color-grayish-blue-dark;
    line-height: 2rem;
    margin-bottom: 2rem;
    font-weight: 600;
  }
  &-name {
    font-family: 'Fraunces', sans-serif;
    color: $color-grayish-blue-very-dark;
    font-weight: 900;
    margin-bottom: 1rem;
  }
  &-title {
    color: $color-grayish-blue;
    margin-bottom: 2rem;
  }
}
@include pc-width() {
  .client-wrapper {
    display: flex;
    margin: 0 5rem;
  }
  .client-card {
    padding: 0 1.8rem;
    &-avatar {
      width: 7vw;
      height: 7vw;
      border-radius: 50%;
      margin: 2rem 0;
    }
    &-description {
      line-height: 2rem;
      margin-bottom: 5rem;
      font-weight: 600;
    }
  }
}
@include pc-xl-width() {
  .client {
    &-card {
      width: 100%;
      padding: 0 1rem;
      &-description, &-name, &-title {
        font-size: 1.2rem;
      }
    }
  }
}
