.section-header {
  height: 100vh;
  background-image: url("../src/images/mobile/image-header.jpg");
  background-size: cover; 
  background-position: top; 
  background-repeat: no-repeat;
}
header {
  width: 100vw;
  height: 15vh;
  position: fixed;
}
.navbar-brand {
  color: $color-White;
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 15vh;
  margin-left: 1.5rem;
  text-transform: lowercase;
}
.nav {
  position: absolute;
  top: 100%;      
  width: 100%;
  background: $color-White;
  transform-origin: top;
  transition: transform 0.3s ease-out;
  transform: scale(1, 0);
  clip-path: polygon(7.5% 12%, 7.5% 100%,92.5% 100%,92.5% 0%, 85% 12%);
  // lt/lb/rb/rt
  &-item {
    margin: 1.5rem 0;
    opacity: 0;
    &:first-child {
      margin-top: 5rem ;
    }
    &:last-child{
      margin-bottom: 3rem ;
    }
  }
  &-link {
    color: $color-grayish-blue-dark;
    &:hover,&:checked {
      display: inline-block;
      padding: 1rem;
      font-family: 'Fraunces', sans-serif;
      color:$color-blue-dark;
      background-color: $color-primary-yellow;
      text-transform: uppercase;
      width: 10rem;
      border-radius: 2em;
    }
  }
}
.navbar-toggle {
  visibility: hidden;
  position: absolute;
  &:checked ~ .nav {
    transform: scale(1, 1);
    & .nav-item {
      transition: opacity 0.2s ease-out 0.15s;opacity: 1;
    }
  }
  &-label {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 7.5%;
    display: flex;
    align-items: center;
  }
}

.hamburger {
  position: relative;
  &,&::before,&::after {
    width: 30px;
    height: 3px;
    background: $color-White;
  }
  &::before,&::after {
    position: absolute;
    left: 0; 
    content: "";
  }
  &::before {
    top: 8px;
  }
  &::after {
    bottom: 8px;
  }
}