.service {
  &-image-mobile {
    width: 100vw;
    height: 100%;
  }
  &-image-desktop {
    display: none;
  }
  &-card {
    text-align: center;
    background-color: $color-White;
    padding: 2rem 2rem 3.5rem 2rem;
    &-title {
      font-family: 'Fraunces', sans-serif;
      color: $color-blue-dark;
    }
    &-description {
      line-height: 1.5rem;
      color: $color-grayish-blue-dark;
      margin-bottom: 1.5rem;
    }
    &-action {
      font-family: 'Fraunces', sans-serif;
      text-transform: uppercase;
      color: $color-blue-dark;
      z-index: 1;
      &:checked,&:hover {
        font-weight: 900;
      }
    }
    
  }  
}
@include pc-width() {
  .service {
    &-wrapper {
      display: grid;
      width: 100%;
      grid-template-columns: repeat(2, auto);
      grid-template-rows: repeat(2, auto);
      grid-template-areas:
      "transformText transformImage"
      "standOutImage standOutText";
    }
    &-image { 
      &-mobile {
        all:unset;
        display: none;
      }
      &-desktop {
        all:unset;
        width: 100%;
        height: 100%;
        object-fit: cover;
        overflow:hidden;
      }
    
      &-transform {
        all:unset;
        grid-area: transformImage;
      }
      &-stand-out {
        all:unset;
        grid-area:standOutImage;
      }
    }
    &-card {
      text-align:left;
      position: relative;
      &-text {
        position: absolute;
        top: 50%;
        transform: translateY(-50%); 
        padding: 0 1.5rem;  
      }
      &-description {
        margin-bottom: 1rem;
      }
      &-transform {
        grid-area: transformText;
      }
      &-stand-out {
        grid-area:standOutText;
      }
    }
  }
}

@include pc-xl-width() {
  .service {
    &-card {
      &-description {
        font-size: 1.2rem;
      }
    }
  }
}
